@font-face {
    font-family: 'birch_stdregular';
    src: url('birch_std_regular-webfont.woff2') format('woff2'),
         url('birch_std_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html {
    height: 100%;
    margin: 0;
    padding:0;
    font-family: 'birch_stdregular';
    background-color:black;
}

.container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100%;
}

.container p {
    font-size:75px;
    letter-spacing: 5px;
    color:lime;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Set your background image here */
    background-image: url('assets/flamethrower.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    /* Set the transition for the fade-in effect */
    transition: opacity 1s ease-in-out;
    /* Additional styling for the logo if needed */
}

.logo p {
    font-family: 'birch_stdregular';
    font-size:50px;
    color:#95C96F;
}

.content {
    position: relative; /* Set to relative to allow scrolling within the wrapper */
    margin-top: 100vh; /* Push the content below the viewport initially */
    height:100vh;
    color:white;
    background-color:black;
    /* Additional styling for the content section if needed */
}

.content-wrapper {
    background-color:black;
}

/* Add this class to show the content when the user scrolls */
.content.show {
    margin-top: 0; /* Show the content section by bringing it up */
}
.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Horizontally center the items */
    background-color:black;

    /* Responsive adjustments for tablet devices */
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

     /* Responsive adjustments for mobile devices */
    @media (max-width: 480px) {
        grid-template-columns: 1fr;
        justify-content: flex-start; /* Align items to the left for mobile */
    }
}
  
.grid-item {
    display: flex;
    align-items: center; /* Center items vertically within the grid item */
    justify-content: center; /* Center items horizontally within the grid item */
    background-color:black;
    /* Additional styling for each grid item if needed */

    flex: 1 0 300px; /* Each grid item takes a minimum of 300px width */

    /* Responsive adjustments for mobile devices */
    @media (max-width: 768px) {
        flex: 1 0 100%; /* Each grid item takes full width for mobile */
    }
}

.grid-item p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5
}

.grid-item img {
    max-width: 75%; /* Set the maximum width to 100% of the container */
    border-radius:10px;
    border:1px solid white;
    /* You can also use a specific width like 'width: 300px;' or 'width: 50%;' */
    /* Additional styling for the image if needed */
}

.top-item {
    justify-content: flex-start;
    padding-left:70px;
}

.top-item p {
    font-family: 'birch_stdregular' !important;
    color:white;
    font-size:50px;
    letter-spacing: 3px;
}

.footer {
    background-color:black;
    color:white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Default style for the image */
#footer-image {
    width: 75%; /* Default width for non-mobile screens */
  }
  
  /* Media query for mobile devices with a maximum screen width of 768 pixels */
  @media (max-width: 768px) {
    #footer-image {
      width: 100%; /* Change the width to 100% for mobile screens */
    }
}

.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 45px;
    color:white;
    cursor: pointer;
    z-index: 2; /* Ensure the button stays above other content */
  }
  
  .navigation-menu {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Semi-transparent black background */
    display: none; /* Hide the menu by default */
    z-index: 1; /* Ensure the menu overlays other content */
  }
  
  .navigation-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  .navigation-menu li {
    padding: 10px;
  }
  
  .navigation-menu a {
    color: white;
    text-decoration: none;
    font-weight:bold;
    font-size: 50px;
  }

  .navigation-menu a:hover {
    color:red;
  }

  .navigation-nenu a:active {
    text-decoration: line-through;
  }

/* TIMELINE */
.movie-grid-container {
    display: grid;
    column-gap: 50px;
    row-gap:50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 768px) {
    .movie-grid-container {
        grid-template-columns: auto; /* Change the width to 100% for mobile screens */
    }
}
  
.movie-grid-item {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius:20px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.franchise-content-wrapper {
    padding-left:75px;
    padding-right:75px;
    padding-top:50px;
}

/* FOOTERS */
.modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 3; /* Ensure the modal is above other content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    font-size:24px !important;
  }
  
  .modal-content {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    padding: 20px;
  
    /* Center align the content */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .plot-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    color: #f1f1f1;
    cursor: pointer;
  }

  .buy {
    border:1px solid white;
    border-radius:10px;
    color:white;
    background-color:black;
    font-size:16px;
    padding-left:5px;
    padding-right:5px;
  }

  .buy:hover {
    background-color:white;
    color:black;
  }

  /* Stab Background */
  .stab-background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Set your background image here */
    background-image: url('assets/stab-97.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stab-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stab-logo p {
    font-family: 'birch_stdregular';
    font-size:50px;
    color:#95C96F;
}

.more-btn {
  border:1px solid white;
  border-radius:30px;
  background-color:black;
  color:white;
  font-size:18px;
}

.more-btn:hover {
  background-color:white;
  color:black;
}

/* KILLERS */
.story-grid-container {
  display: grid;
  column-gap: 50px;
  row-gap:50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 768px) {
  .story-grid-container {
      grid-template-columns: auto; /* Change the width to 100% for mobile screens */
  }
}

.story-grid-item {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius:20px;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.story-grid-item p {
  font-family: 'birch_stdregular';
  font-weight:100;
  font-size:40px;
  letter-spacing:5px;
  color:white;
}

.story-grid-item img {
  border:1px solid white;
}

.killer-modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 3; /* Ensure the modal is above other content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-size:24px !important;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.killer-modal-content {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  padding: 20px;
  text-align: center;

  /* Center align the content */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.killer-modal h1 {
  font-family: 'birch_stdregular'; 
  color:white; 
  text-align:center; 
  text-transform:uppercase; 
  letter-spacing:10px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;

  color: white;
  text-align: center;
}